body {
    margin: 0;
    overflow-y: hidden;
}
#file_content {
    width: 100vw;
    height: calc(100vh - 10.5rem);
    max-height: initial;
}

.mce-edit-area.mce-container.mce-panel.mce-stack-layout-item {
  height: calc(100vh - 20.5rem);
}
.mce-edit-area > iframe { height: calc(100vh - 143px) !important; }

select.file-format {
    font-size: 0.8rem;
    width: calc(33vw - 9rem) !important;
}

.mce-flow-layout {
    white-space: inherit !important;
}

#input_html_file {
    /* display: none; */
}